* {
	padding:0;
	margin:0;
}
h2  {
	font-family: 'Roboto', sans-serif;
}
.main {
	height:632px;
}
.picture {
	height:508px;
}
.picture img {
	display:block;
	margin: 0 auto;
	
}
.logo {
	height:124px;
}
.logo img {
	margin:24px 0 0 34px;
	height:100px;
}
.text-logo {
	position:relative;
}
.text-logo img {
	display:block;
	margin: 87px auto 0;
	
}
.text {
	position:absolute;
	left:48.5%;
	top:20%;
    
}
.text p {
	position:absolute;
	font-family: 'Roboto', sans-serif;
	font-size:19px;
	letter-spacing: 3px;
	text-shadow: 1px 1px #000;
}
.glove img {
	display:block;
	margin: 6px auto 0;
}